.header {
	position: relative;
	padding-top: 40px;

	background-color: var(--footer-bg);
	background-image: url('./../img/header/header-bg.jpg');
	background-size: cover;
	aspect-ratio: 1440 / 1084;

	color: var(--header-text-color);

	@include retina-bg(url('./../img/header/header-bg@2x.jpg'));

	@include mobile () {
		padding-top: 20px;
		padding-bottom: 240px;

		background-position: center;
		aspect-ratio: unset;
	}

	a {
		color: var(--header-text-color);
	}

	&__nav {
		margin-bottom: clamp(20px, 0.071rem + 5.89vw, 86px);
	}

	&__content {
		text-align: center;

		& p {
			margin: 0 auto;
			max-width: 606px;

			opacity: 0.8;

			text-wrap: balance;
			font-size: clamp(16px, 0.857rem + 0.71vw, 24px);
			line-height: 160%;
		}
	}

	&__title {
		margin-bottom: 14px;

		text-wrap: balance;
		font-weight: 700;
		font-size: clamp(28px, 0.821rem + 4.64vw, 80px);
		line-height: 130%;
		letter-spacing: -0.01em;
		text-transform: capitalize;
	}

	&__search {
		display: inline-block;
		margin: 45px auto 0;

		@include mobile-xl () {
			display: none;
		}
	}

	/* Dots */
	&__dot {
		position: absolute;

		&--sofa {
			left: calc(296 * 100% / 1440);
			top: calc(685 * 100% / 1084);

			transform: translate(0, 0);
		}

		&--vase {
			left: calc(114 * 100% / 1440);
			top: calc(754 * 100% / 1084);

			transform: translate(-50%, -50%);
		}

		&--item {
			left: calc(810 * 100% / 1440);
			top: calc(787 * 100% / 1084);

			transform: translate(-50%, -50%);
		}

		&--wall {
			right: calc(46 * 100% / 1440);
			top: calc(821 * 100% / 1084);
		}

		@include mobile-xl () {
			display: none;
		}
	}
}